// =================================
//   IMAGES (images, SVGs, logos, icons)
// =================================

// Imports
@use '../base' as *;

// About
.image-about {
  position: relative;
  z-index: 1;
}

// Contact
.contact-icon {
  color: $button-main;
  opacity: 0.75;
}

// Brand
.brand-icon {
  font-size: 1.5rem;
  @media (max-width: 991.98px) { font-size: 1.25rem; }
  @media (max-width: 575.98px) { font-size: 1.1rem; }
}
