// =================================
//   TYPOGRAPHY
// =================================

// Imports
@use '../base' as *;

.title {
   @include title;
}

.sub-title {
   @include sub-title;
}

.text {
   @include text;
}

.text-muted-strong {
   @include custom-text($font-text, 400, 1rem, $text-dark);
}

.footer-text {
   @include custom-text($font-title, 400, 1rem, $text-main);
}
