// =================================
//   BUTTONS
// =================================

// Imports
@use '../base' as *;

// Buttons
.btn.btn-facebook {
   @include btn-facebook;
}

 .btn.btn-instagram {
   @include btn-instagram;
}

 .btn.btn-linkedin {
   @include btn-linkedin;
} 

 .btn.btn-gitHub {
   @include btn-github;
}

.btn.btn-youtube {
   @include btn-youtube;
}

.btn.btn-light.btn-custom {
   @include mask-light(0.1);
   border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
   color: $text-light;
   padding: 10px 24px;
   font-size: 16px;
   border-radius: 30px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   transition-property: background-color, border, box-shadow, transform;
   transition-duration: .4s;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:active {
      background-color: transparent;
      border: 1.5px solid rgba($color: #ffffff, $alpha: 0.7);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
   }

   @media (max-width: 1199.98px) {
      font-size: 15px;
      padding: 9px 22px;
   }

   @media (max-width: 991.98px) {
      font-size: 14px;
      padding: 8px 20px;
   }

   @media (max-width: 767.98px) {
      font-size: 13px;
      padding: 7px 18px;
   }
}

.btn.btn-dark.btn-custom {
   background-color: $button-main;
   color: $text-light;
   box-shadow: 0 4px 9px -4px rgba($color: $button-main, $alpha: 0.35);

   &:hover,
   &:active {
      box-shadow: 0 8px 9px -4px rgba($color: $button-main, $alpha: 0.15),
         0 4px 18px 0 rgba($color: $button-main, $alpha: 0.1);
   }
}

.btn.btn-secondary.btn-secondary-custom {
   @include btn-secondary-custom;
}
