// =================================
//   BRAND
// =================================

// Imports
@use '../base' as *;

.brand-cta {
  background: linear-gradient(
    135deg,
    rgba($background-accent, 0.5) 0%,
    $background-primary 100%,
  );
  padding: 5rem 0;
  border-radius: 0.75rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);

  &__content {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    @include custom-text($font-text, 600, 1.35rem, $text-accent);
    margin-bottom: 0.25rem;
  }

  &__text {
    @include custom-text($font-text, 500, 1.15rem, $text-accent);
    margin-bottom: 1.25rem;
  }

   @media (max-width: 1199.98px) { padding: 4rem 0; }
   @media (max-width: 991.98px) { padding: 3.5rem 0; }

   @media (max-width: 575.98px) {
    padding: 3rem 1.5rem;
    &__title { font-size: 1.25rem; }
    &__text { font-size: 1.05rem; }
  }

  @media (max-width: 399.98px) {
    padding: 2.5rem 1.25rem;
    &__title { font-size: 1.2rem; }
    &__text { font-size: 1rem; }
  }
}
