// =================================
//   INTRO
// =================================

// Imports
@use '../base' as *;

.intro {
  position: relative;
  z-index: 1;
  height: 100vh;
  background-image: url('../assets/img/cover.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__overlay {
    height: 100%;
    @include mask-dark(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content { text-align: center; }

  &__title {
    @include custom-text($font-title, 700, 5rem, $text-light);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    @include custom-text($font-text, 400, 2.5rem, $text-light);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 1.5rem;
  }

  &__btn.btn.btn-light {
    @include mask-light(0.1);
    border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    color: $text-light;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transition-property: background-color, border, box-shadow, transform;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:active {
      background-color: transparent;
      border: 1.5px solid rgba($color: #ffffff, $alpha: 0.7);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
  }

  /* iOS fix */
  @supports (-webkit-touch-callout: none) {
    background-attachment: scroll;
  }

  @media (max-width: 1199.98px) {
    &__title { font-size: 4rem; }
    &__subtitle { font-size: 2rem; }
    &__btn.btn.btn-light {
      font-size: 15px;
      padding: 9px 22px;
    }
  }

  @media (max-width: 991.98px) {
    background-position: 25% 50%;
    &__title { font-size: 3.5rem; }
    &__subtitle { font-size: 1.75rem; }
    &__btn.btn.btn-light {
      font-size: 14px;
      padding: 8px 20px;
    }
  }

  @media (max-width: 767.98px) {
    &__title { font-size: 2.5rem; }
    &__subtitle { font-size: 1.25rem; }
    &__btn.btn.btn-light {
      font-size: 13px;
      padding: 7px 18px;
    }
  }

  @media (max-width: 575.98px) {
    &__content { padding-inline: 1rem; }
    &__title { margin-bottom: 1rem; }
    &__subtitle { margin-bottom: 1rem; }
  }
}
