// =================================
//   MAIN STYLE
// =================================

// Imports
@use 'base' as *;
@use 'mdb' as *;
@use 'global-overrides';
@use 'styles';
@use 'components';
@use 'sections';

// =================================
//   SECTIONS
// =================================

// About
.image-about {
   position: relative;
   z-index: 1;
}

// Contact
.contact-text {
   @include custom-text($font-title, 400, 1rem, $text-main);
}

.contact-icon {
   color: $button-main;
   opacity: 0.75;
}

a.contact-text {
   text-decoration: none;

   &:hover,
   &:active {
      text-decoration: underline;
      color: $text-accent;
   }
}

// Brand
.brand-logo {
   max-width: 3rem;
   height: auto;
   opacity: 0.9;
   transition: transform 0.3s ease, opacity 0.3s ease;

   &:hover {
      transform: scale(1.1);
      opacity: 1.0;
   }
}

// =================================
//   MEDIA QUERIES
// =================================

// Small devices
@include media-breakpoint-up(sm) {}

// Medium devices
@include media-breakpoint-up(md) {}

// Large devices
@include media-breakpoint-up(lg) {}

// X-Large devices
@include media-breakpoint-up(xl) {}

// XX-Large devices
@include media-breakpoint-up(xxl) {}

// XXX-Large devices (up 1800px)
@include media-breakpoint-up(xxxl) {}

// Ultra-Large devices (up 2500px)
@include media-breakpoint-up(ultra) {}
