// Background Colors
$background-main: #fbfbfb;
$background-primary: #ffffff;
$background-secondary: #f4eae0;

// Text Colors
$text-main: #332D2D;
$text-accent: #2C5F2D;
$text-accent-light: #E8F5E9;
$text-light: #ffffff;

// Button & Hover Colors
$button-main: #2C5F2D;
$button-hover: #97BC62;
$button-secondary: #C4B5A5;

// Fonts
$font-title: "Roboto", Arial, Verdana, sans-serif;
$font-text: "Open Sans", Verdana, Arial, sans-serif;
