// =================================
//   VARIABLES
// =================================

// =================================
//   COLORS
// =================================

// Background Colors
$background-main: #fbfbfb;
$background-primary: #ffffff;
$background-secondary: #f2f2f2;
$background-accent: #DCEDC8;

// Text Colors
$text-main: #332D2D;
$text-dark: #666666;
$text-accent: #2C5F2D;
$text-accent-light: #E8F5E9;
$text-light: #ffffff;

// Button & Hover Colors
$button-main: #2C5F2D;
$button-hover: #C8E6C9;
$button-secondary: #E8F5E9;

// =================================
//   FONTS
// =================================

$font-title: "Roboto", Arial, Verdana, sans-serif;
$font-text: "Open Sans", Verdana, Arial, sans-serif;
